
<h1>login</h1>
<!-- <section id="wrapper">
    <div class="login-register" style="background-image:url(https://img.remediosdigitales.com/8e8f64/lo-de-que-comprar-una-casa-es-la-mejor-inversion-hay-generaciones-que-ya-no-lo-ven-ni-de-lejos---1/1366_2000.jpg);">
        <div class="login-box card">
            <div class="card-body">
                <form 
                    class="form-horizontal form-material"
                    (ngSubmit)="login()"
                    [formGroup]="loginForm"
                    autocomplete="off">
                    <h3 class="box-title m-b-20">¡Bienvenido!</h3>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" 
                                type="email"
                                formControlName="email"
                                placeholder="Correo electrónico"> 
                        </div>
                        <div class="row" *ngIf="campoInvalid('email')">
                            <div class="col text-danger">
                                <p>El correo electrónico es requerido.</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" 
                                type="password"
                                placeholder="Contraseña"
                                formControlName="password"> 
                        </div>
                        <div class="row" *ngIf="campoInvalid('password')">
                            <div class="col text-danger">
                                <p>La contraseña es requerida.</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="checkbox checkbox-info pull-left p-t-0">
                                <input id="checkbox-signup" 
                                    type="checkbox" 
                                    class="filled-in chk-col-light-blue"
                                    formControlName="remember">
                                <label for="checkbox-signup">Recuerdame</label>
                            </div> <a href="javascript:void(0)" id="to-recover" class="text-dark pull-right"><i class="fa fa-lock m-r-5"></i> ¿Olvidate tu contraseña?</a> </div>
                    </div>
                    <div class="form-group text-center">
                        <div class="col-xs-12">
                            <button class="btn btn-block btn-lg btn-info btn-rounded" type="submit">Iniciar sesión</button>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center" 
                            style="display: flex;
                                align-items: center;
                                justify-content: center;
                                margin-bottom: 15px ">

                             
                            <div id="my-signin2"></div>

                        </div>
                    </div>
                    <div class="form-group m-b-0">
                        <div class="col-sm-12 text-center">
                            ¿No tienes una cuenta? <a routerLink="/auth/register" class="text-info m-l-5"><b>Registrarme</b></a>
                        </div>
                    </div>
                </form>
               
            </div>
        </div>
    </div>
</section> -->
